body{
    background: #3ccfcfdc;
    color:white;
    font: normal 18px Verdana;
    text-align: center;
}

section{
    background: white;
    color: black;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

div{
    padding: 10px;
}

footer{
    padding: 20px;
    font-style: italic;
}

input#botao{
    font: normal 18px Verdana;
    background: #3ccfcfdc;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 100px;
}